<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title th:text="'控制台输出信息 - ' + ${webConf.applicationName}">控制台输出信息</title>
	<script type="text/javascript" th:src="@{/static/js/console.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.js}"></script>
	<style type="text/css">
		body { margin: 0; }

		.horizontal_margin { margin-left: 8px; margin-right: 8px; }

		.box {
			padding: 0.8em;
			border: 1px solid black;
			background-color: #2B2B2B;
			margin: 0;
		}

		pre {
			display: inline;
			font-size: 1.1em;
			font-family: Microsoft YaHei Mono, sans-serif;
			white-space: pre-wrap;
			word-break: break-word;
		}
	</style>
</head>
<body>
	<h1 class="horizontal_margin">控制台输出</h1>
	<div id="content">
		<span class="horizontal_margin">加载中……</span>
	</div>
	<br>
	<div style="text-align: right; width: 80%; margin: 0 auto 1em;">
		<a th:href="@{/}">返回主页</a>
	</div>
</body>
<script th:inline="javascript">
    let contextPath = /*[[@{/}]]*/ "";
    window.onload = function() {
        load(contextPath + "api/getConsole");
    }
</script>
</html>