<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="'登录 - ' + ${webConf.applicationName}">登录</title>
	<script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.js}"></script>
	<script type="text/javascript"
	        th:src="@{/static/js/jquery.cookie-1.4.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/login.js}"></script>
	<style>
		label {
			display: block;
			text-align: right;
			margin: 0.15em 0 0 0;
		}

		label.first {
			margin-top: 0;
		}
	</style>
</head>
<body>
	<h1>登录</h1>
	<div style="padding: 1em; border: 1px solid black; display: inline-block;">
		<form>
			<label class="first">
				用户名：<input id="username" type="text" size="30"
				           name="robot_username" value="robot_admin" />
			</label>
			<label>
				密码：<input id="password" type="password" size="30"
				          name="robot_password" />
			</label>
			<label>
				<input id="remember_password" name="remember_password"
				       type="checkbox" />记住密码
			</label>
			<label style="margin-top: 0.7em;">
				<input id="login_btn" type="button" value="登录" onclick="login(form)" />
			</label>
		</form>
	</div>
	<div style="text-align: right; width: 80%; margin: 0 auto;">
		<a href="/">返回主页</a>
	</div>
</body>
<script th:inline="javascript">
    let contextPath = /*[[@{/}]]*/ "";
</script>
</html>