<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>果实背包</title>
	<link rel="stylesheet" type="text/css" th:href="${baseUrl} + '/robot/static/css/farm.css'">
</head>
<body>
	<p>
		果实背包<br>
		果实个数：<span th:text="${fruits.size()} + '/' +
			${user.getFruitBagVolume()}">1/10</span>
	</p>
	<table style="border: 0;">
		<tr th:if="${fruits.size() <= 0}"><td>没有果实</td></tr>
		<tr th:each="fruit : ${fruits}">
			<td th:text="${fruit.fruitId} + '.'">1.</td>
			<td>
				<img th:src="${baseUrl} + '/robot/static/img/crop/' +
							 ${encoder.encode(fruit.type)} + '.png'" />
			</td>
			<td th:text="${fruit.type}">果实名</td>
			<td>【<span th:text="${nameTypeMap.get(fruit.type).landform}">地形</span>】</td>
			<td>【<span th:text="${nameTypeMap.get(fruit.type).season}">季节</span>】</td>
		</tr>
	</table>
</body>
</html>
