.removed {
    color: blue; text-decoration: line-through;
}

.border {
    border: 1px solid black; border-collapse: collapse;
}

.border th, .border td {
    border: 1px solid black; border-collapse: collapse; padding: 0.5em;
}

.no_border {
    border: 0;
}

.no_border th, .no_border td {
    border: 0; padding: 0;
}

.right {
    text-align: right;
}

.inline_block {
    display: inline-block;
}

.left_margin {
    margin-left: 1em;
}

.top_margin {
    margin-top: 1em;
}