#content {
  width: 100%;
}

#usage_log_sheet {
  border: 1px solid black;
  border-collapse: collapse;
}

#usage_log_sheet th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 0.5em;
}

.reply {
  text-align: left;
  white-space: pre-line;
  max-width: 30em;
}

#page_link {
  text-align: center;
}